.logo{width: 100%;text-align: center;margin-top: 5px}
.logo .pic img {width: 25%;}
.goods ul {width: 95%;margin: 0 auto;}
.goods .list {width: 100%;position: relative;margin-top: 3px;}
.goods .list .pic{width: 100%;}
.goods .list .intro {position: absolute;top: 50%;left: 50%; transform: translate(-50%);color: #fff;text-align: center;}

.goods .list .intro p {margin-top: 5px;}
.goods .list .intro img {width: 1rem;margin-top: 5px;}