<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ishuber</title>
	<link rel="stylesheet" href="move/css/init.css">
	<link rel="stylesheet" href="move/css/index.css">
</head>
<body>
	<header class="logo">
		<div class="pic"><img src="move/img/ishubertext.png" alt=""></div>
		<div class="text">叁·拾玖</div>
		<div class="text">I WANT YOU TO BE HAPPY</div>
	</header>	
	<section class="goods">
		<ul>
			<li class="list">
				<img class="pic" src="move/img/goods3.jpg" alt="">
				<div class="intro">
					<h3>灯光魔术师</h3>
					<p>带来一场家庭视觉盛宴</p>
					<img src="move/img/righta.png" alt="">
				</div>
			</li>
			<li class="list">
					<img class="pic" src="move/img/goods2.jpg" alt="">
					<div class="intro">
						<h3>灯光魔术师</h3>
						<p>带来一场家庭视觉盛宴</p>
						<img src="move/img/righta.png" alt="">
					</div>
				</li>
				<li class="list">
						<img class="pic" src="move/img/goods3.jpg" alt="">
						<div class="intro">
							<h3>灯光魔术师</h3>
							<p>带来一场家庭视觉盛宴</p>
							<img src="move/img/righta.png" alt="">
						</div>
				</li>
				<li class="list">
						<img class="pic" src="move/img/goods1.jpg" alt="">
						<div class="intro">
							<h3>灯光魔术师</h3>
							<p>带来一场家庭视觉盛宴</p>
							<img src="move/img/righta.png" alt="">
						</div>
				</li>
		</ul>
	</section>
</body>
</html>